.App {
  place-items: center;
  padding-top: px;
}
.Form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
}

.Form > input {
  width: 20em;
  height: 2em;
  padding: 0.2em;
}

.Btns {
  display: flex;
  gap: 1em;
  align-self: center;
}

.Btns > button {
  padding: 0.2em;
}
